// Cards

.card {
  width: 100vw;
  height: 100vh;
  padding: 4%;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-shadow: 5px 10px 28px -8px rgba(0,0,0,1);
  -moz-box-shadow: 5px 10px 28px -8px rgba(0,0,0,1);
  box-shadow: 5px 10px 28px -8px rgba(0,0,0,1);
  background-size: cover;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(89, 89, 89, 0.5);
  color: #fff;
  width: 100%;
  padding: 15px;

  h1 {
    font-size: 1.8em;
    margin: 0 0 0.2em 0;
  }

  p {
    margin: 0;
    float: left;
    padding: 0;
  }
}

.geolocation-pin {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2em;
  padding: 0;
  float: right;
  width: 50px;

  > span {
    left: -1px;
  }
}
